@use "tokens";
@use "breakpoints";

.btn {
  display: inline-flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition: 0.3s;
  position: relative;

  img {
    width: 18px;
    height: 18px;
  }

  &.btnPrimaryDark {
    background: tokens.$color-neutral-dark-500;
    color: tokens.$color-primary-light-0;

    &:hover {
      background: tokens.$color-primary-dark-900;
    }
  }

  &.btnRound {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
